* {
    margin: o;
    padding: 0;
}

header {
    background-color: #000000; 
    color: #fff;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-bottom: solid rgb(74, 80, 74);
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    /*Trenger ikke marker med "helvetica", den går automatisk 
    til den første. bare bytt plassene.*/
}
.logo{
    width: 0px;
    height: 2%;
    flex-shrink: 0;    
}

/* Navmeny */
nav ul {
    list-style-type: none; 
    padding: 0; 
    
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #fff; 
    margin-right: 0px;
    
    
}
main{
    background-color: #fff;
    font-family:  Arial, Helvetica, sans-serif;

}
@font-face {
    font-family:  My special header font;
    src: url(./fonter/BootsAndSpurs.ttf);
}
@font-face {
    font-family:My special paragraph font;
    src: url(./fonter/OpenSans-Regular.ttf);
}
html{
    font-size: 16px;}

 h1,h2,h3{
        font-family:"My special header font", fantasy;
}
p{
    font-family: "My special paragraph font", sans-serif;
}
    h1{font-size: 2rem;}
    h2{font-size: 1,5rem;}