* {
    margin: o;
    padding: 0;
}

header {
    background-color: #000000; 
    color: #fff;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-bottom: solid rgb(74, 80, 74);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 0px;
    height: 2%;
    flex-shrink: 0;    
}

/* Navmeny */
nav ul {
    list-style-type: none; 
    padding: 0; 
    
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #fff; 
    margin-right: 0px;
    
    
}
main{
    background-color: #fff;
    font-family:  Arial, Helvetica, sans-serif;

}
